/*
 * This is style for elements of my site which were not included with the theme
 * Author: Sam Xifaras
 */


 img[src*="#vis-img"] {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   border: 2px solid black;
 }
